* {
    box-sizing: border-box;
}

:root {
    --Lightgray: hsl(212, 45%, 89%);
    --White: hsl(0, 0%, 100%);
    --Darkblue: hsl(218, 44%, 22%);
    --Grayishblue: hsl(220, 15%, 55%);
}

.my-body {
    background-color: var(--Lightgray);
    margin: unset;
    display: flex;
    justify-content: center;
}

.qr-card {
    width: 280px;
    height: auto;
    margin:120px 0 !important;
    background-color: var(--White);
    border-radius: 10px;
}

.code-image {
    width: 250px;
    border-radius: 10px;
    margin: 15px;
    margin-bottom: 0;
}

@media screen {
    .qr-card {
        max-width: 1440px;
        min-width: 280px;
    }
}

.first-para {
    margin-left: 30px;
    font-size: 18px;
    margin-right: 20px;
    color: var(--Darkblue);
    font-family: 'my font';
}

.secend-para {
    margin-left: 30px;
    margin-right: 20px;
    font-size: 15px;
    opacity: 60%;
   font-family: 'opacity font';
   color: var(--Grayishblue);
}

@font-face {
    font-family: 'my font';
    src: url('fonts/webfonts/Outfit-Black.woff') format('woff');
   
}
@font-face {
font-family: 'opacity font';
src: url('fonts/webfonts/Outfit-Light.woff') format('woff');
}